<html>
<head>
<title>index.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
index.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!doctype </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;viewport&quot; </span><span class="s2">content</span><span class="s3">=&quot;width=device-width, initial-scale=1&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s1">Health Care Center</span><span class="s0">&lt;/title&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">href</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css&quot; </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;style&gt;</span>
        <span class="s1">.logo {</span>
            <span class="s1">width: 50px;</span>
            <span class="s1">height: 50px;</span>
            <span class="s1">color: black;</span>
            <span class="s1">margin-top: 0;</span>
            <span class="s1">margin-left: 2px;</span>
        <span class="s1">}</span>

        <span class="s1">.myimg {</span>
            <span class="s1">width: 50px;</span>
            <span class="s1">height: 50px;</span>
            <span class="s1">border: 2px solid black;</span>
            <span class="s1">border-radius: 25px;</span>
        <span class="s1">}</span>
    <span class="s0">&lt;/style&gt;</span>
  <span class="s0">&lt;/head&gt;</span>

  <span class="s0">&lt;body&gt;</span>
    <span class="s4">&lt;!-- Navbar --&gt;</span>
    <span class="s0">&lt;nav </span><span class="s2">class</span><span class="s3">=&quot;navbar navbar-expand-lg navbar-dark bg-dark&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container-fluid&quot;</span><span class="s0">&gt;</span>
            <span class="s4">&lt;!-- Logo at the top-left corner --&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;logo&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;img </span><span class="s2">class</span><span class="s3">=&quot;myimg&quot; </span><span class="s2">src</span><span class="s3">=&quot;{{ url_for('static', filename='img.png') }}&quot; </span><span class="s2">alt</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;/div&gt;</span>

            <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;navbar-brand&quot; </span><span class="s2">href</span><span class="s3">=&quot;#&quot;</span><span class="s0">&gt;</span><span class="s1">Health Center</span><span class="s0">&lt;/a&gt;</span>
            <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;navbar-toggler&quot; </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;collapse&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#navbarSupportedContent&quot; </span><span class="s2">aria-controls</span><span class="s3">=&quot;navbarSupportedContent&quot; </span><span class="s2">aria-expanded</span><span class="s3">=&quot;false&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Toggle navigation&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;span </span><span class="s2">class</span><span class="s3">=&quot;navbar-toggler-icon&quot;</span><span class="s0">&gt;&lt;/span&gt;</span>
            <span class="s0">&lt;/button&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;collapse navbar-collapse&quot; </span><span class="s2">id</span><span class="s3">=&quot;navbarSupportedContent&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ul </span><span class="s2">class</span><span class="s3">=&quot;navbar-nav me-auto mb-2 mb-lg-0&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link active&quot; </span><span class="s2">aria-current</span><span class="s3">=&quot;page&quot; </span><span class="s2">href</span><span class="s3">=&quot;#&quot;</span><span class="s0">&gt;</span><span class="s1">Home</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot; </span><span class="s2">href</span><span class="s3">=&quot;/about&quot;</span><span class="s0">&gt;</span><span class="s1">About</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot; </span><span class="s2">href</span><span class="s3">=&quot;/contact&quot;</span><span class="s0">&gt;</span><span class="s1">Contact</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot; </span><span class="s2">href</span><span class="s3">=&quot;/developer&quot;</span><span class="s0">&gt;</span><span class="s1">Developer</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot; </span><span class="s2">href</span><span class="s3">=&quot;/blog&quot;</span><span class="s0">&gt;</span><span class="s1">Blog</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                    <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot; </span><span class="s2">href</span><span class="s3">=&quot;/chatbot&quot;</span><span class="s0">&gt;</span><span class="s1">Chatbot</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;/li&gt;</span>
                <span class="s0">&lt;/ul&gt;</span>
                <span class="s0">&lt;form </span><span class="s2">class</span><span class="s3">=&quot;d-flex&quot; </span><span class="s2">role</span><span class="s3">=&quot;search&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;input </span><span class="s2">class</span><span class="s3">=&quot;form-control me-2&quot; </span><span class="s2">type</span><span class="s3">=&quot;search&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;Search&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Search&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;btn btn-outline-success&quot; </span><span class="s2">type</span><span class="s3">=&quot;submit&quot;</span><span class="s0">&gt;</span><span class="s1">Search</span><span class="s0">&lt;/button&gt;</span>
                <span class="s0">&lt;/form&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/nav&gt;</span>

<span class="s4">&lt;!-- main form of page --&gt;</span>
<span class="s0">&lt;h1 </span><span class="s2">class</span><span class="s3">=&quot;mt-4 my-4 text-center text-green&quot;</span><span class="s0">&gt;</span><span class="s1">Health Care Center</span><span class="s0">&lt;/h1&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container my-4 mt-4&quot; </span><span class="s2">style</span><span class="s3">=&quot;background: black; color: white; border-radius: 15px; padding: 40px;&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;form </span><span class="s2">action</span><span class="s3">=&quot;/predict&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-group&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;label </span><span class="s2">for</span><span class="s3">=&quot;symptoms&quot;</span><span class="s0">&gt;</span><span class="s1">Select Symptoms:</span><span class="s0">&lt;/label&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">class</span><span class="s3">=&quot;form-control&quot;</span><span class="s2">, id</span><span class="s3">=&quot;symptoms&quot; </span><span class="s2">name</span><span class="s3">=&quot;symptoms&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;type systems such as itching, sleeping, aching etc&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;br&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">id</span><span class="s3">=&quot;startSpeechRecognition&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn btn-primary&quot; </span><span class="s2">style</span><span class="s3">=&quot;margin-left:3px;border:1px solid white; border-radius:20px;&quot;</span><span class="s0">&gt;</span>
            <span class="s1">Start Speech Recognition</span>
        <span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;br&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">name</span><span class="s3">=&quot;mysysms&quot; </span><span class="s2">id</span><span class="s3">=&quot;transcription&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>

        <span class="s1">{% if message %}</span>
        <span class="s0">&lt;p&gt;</span><span class="s1">{{ message }}</span><span class="s0">&lt;/p&gt;</span>
        <span class="s1">{% endif %}</span>
        <span class="s0">&lt;br&gt;</span>

        <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn btn-danger btn-lg&quot; </span><span class="s2">style</span><span class="s3">=&quot;width: 100%; padding: 14px; margin-bottom: 5px;&quot;</span><span class="s0">&gt;</span><span class="s1">Predict</span><span class="s0">&lt;/button&gt;</span>
    <span class="s0">&lt;/form&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s1">{% if predicted_disease %}</span>
<span class="s4">&lt;!-- Results --&gt;</span>
<span class="s0">&lt;h1 </span><span class="s2">class</span><span class="s3">=&quot;text-center my-4 mt-4&quot;</span><span class="s0">&gt;</span><span class="s1">Our AI System Results</span><span class="s0">&lt;/h1&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;result-container&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#diseaseModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F39334;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Disease</span><span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#descriptionModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#268AF3 ;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Description</span><span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#precautionModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#F371F9 ;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Precaution</span><span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#medicationsModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px;border-radius:5px; background:#F8576F ;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Medications</span><span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#workoutsModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#99F741 ;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Workouts</span><span class="s0">&lt;/button&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">class</span><span class="s3">=&quot;toggle-button&quot; </span><span class="s2">data-bs-toggle</span><span class="s3">=&quot;modal&quot; </span><span class="s2">data-bs-target</span><span class="s3">=&quot;#dietsModal&quot; </span><span class="s2">style</span><span class="s3">=&quot;padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#E5E23D;color:black;&quot;</span><span class="s0">&gt;</span><span class="s1">Diets</span><span class="s0">&lt;/button&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>
<span class="s1">{% endif %}</span>

<span class="s4">&lt;!-- Modals (same as your original) --&gt;</span>
<span class="s4">&lt;!-- Disease Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;diseaseModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;diseaseModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;diseaseModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Predicted Disease</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;p&gt;</span><span class="s1">{{ predicted_disease }}</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- Description Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;descriptionModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;descriptionModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;descriptionModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Description</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;p&gt;</span><span class="s1">{{ dis_des }}</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- Precaution Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;precautionModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;precautionModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;precautionModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Precaution</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ul&gt;</span>
                    <span class="s1">{% for i in my_precautions %}</span>
                        <span class="s0">&lt;li&gt;</span><span class="s1">{{ i }}</span><span class="s0">&lt;/li&gt;</span>
                    <span class="s1">{% endfor %}</span>
                <span class="s0">&lt;/ul&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- Medications Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;medicationsModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;medicationsModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;medicationsModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Medications</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ul&gt;</span>
                    <span class="s1">{% for i in medications %}</span>
                        <span class="s0">&lt;li&gt;</span><span class="s1">{{ i }}</span><span class="s0">&lt;/li&gt;</span>
                    <span class="s1">{% endfor %}</span>
                <span class="s0">&lt;/ul&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- Workouts Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;workoutsModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;workoutsModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;workoutsModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Workouts</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ul&gt;</span>
                    <span class="s1">{% for i in workout %}</span>
                        <span class="s0">&lt;li&gt;</span><span class="s1">{{ i }}</span><span class="s0">&lt;/li&gt;</span>
                    <span class="s1">{% endfor %}</span>
                <span class="s0">&lt;/ul&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- Diets Modal --&gt;</span>
<span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal fade&quot; </span><span class="s2">id</span><span class="s3">=&quot;dietsModal&quot; </span><span class="s2">tabindex</span><span class="s3">=&quot;-1&quot; </span><span class="s2">aria-labelledby</span><span class="s3">=&quot;dietsModalLabel&quot; </span><span class="s2">aria-hidden</span><span class="s3">=&quot;true&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-dialog&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-content&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-header&quot; </span><span class="s2">style</span><span class="s3">=&quot;background-color: #020606; color:white;&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;modal-title&quot; </span><span class="s2">id</span><span class="s3">=&quot;dietsModalLabel&quot;</span><span class="s0">&gt;</span><span class="s1">Diets</span><span class="s0">&lt;/h5&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn-close&quot; </span><span class="s2">data-bs-dismiss</span><span class="s3">=&quot;modal&quot; </span><span class="s2">aria-label</span><span class="s3">=&quot;Close&quot;</span><span class="s0">&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;modal-body&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;ul&gt;</span>
                    <span class="s1">{% for i in my_diet %}</span>
                        <span class="s0">&lt;li&gt;</span><span class="s1">{{ i }}</span><span class="s0">&lt;/li&gt;</span>
                    <span class="s1">{% endfor %}</span>
                <span class="s0">&lt;/ul&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
<span class="s0">&lt;/div&gt;</span>

<span class="s4">&lt;!-- JS for speech recognition --&gt;</span>
<span class="s0">&lt;script&gt;</span>
    <span class="s1">const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');</span>
    <span class="s1">const transcriptionDiv = document.getElementById('transcription');</span>

    <span class="s1">startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);</span>

    <span class="s1">function startSpeechRecognition() {</span>
        <span class="s1">const recognition = new webkitSpeechRecognition();</span>
        <span class="s1">recognition.lang = 'en-US';</span>
        <span class="s1">recognition.onresult = function (event) {</span>
            <span class="s1">const result = event.results[0][0].transcript;</span>
            <span class="s1">transcriptionDiv.textContent = result;</span>
        <span class="s1">};</span>
        <span class="s1">recognition.onend = function () {</span>
            <span class="s1">console.log('Speech recognition ended.');</span>
        <span class="s1">};</span>
        <span class="s1">recognition.start();</span>
    <span class="s1">}</span>
<span class="s0">&lt;/script&gt;</span>

<span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span>
</pre>
</body>
</html>